<div data-hook='admin_affiliates_form_fields' class='row'>
  <div class='row'>
    <div class='alpha five columns'>
      <div class='field '>
        <%= f.label :name, Spree.t(:name) %>
        <%= f.text_field :name, class: 'fullwidth' %>
      </div>
    </div>

    <div class='five columns'>
      <div class='field '>
        <%= f.label :display_url, Spree.t(:display_url) %>
        <%= f.text_field :display_url, class: 'fullwidth' %>
    </div>
  </div>

  <div class='omega five columns'>
    <div class='field '>
      <%= f.label :link, Spree.t(:link) %>
      <%= f.text_field :link, class: 'fullwidth' %>
    </div>
  </div>
</div>